In [ ]:
CREATE DATABASE IF NOT EXISTS pfb_coches;
USE pfb_coches;

In [ ]:
CREATE TABLE marca (
    marca_id TINYINT PRIMARY KEY AUTO_INCREMENT,
    nombre_marca VARCHAR(20) NOT NULL UNIQUE
);

CREATE TABLE modelo_titulo (
    modelo_id MEDIUMINT PRIMARY KEY AUTO_INCREMENT,
    marca_id TINYINT,
    nombre_modelo VARCHAR(255) NOT NULL UNIQUE,
    FOREIGN KEY (marca_id) REFERENCES marca(marca_id)
);

CREATE TABLE combustible (
    combustible_id TINYINT PRIMARY KEY AUTO_INCREMENT,
    nombre_combustible VARCHAR(36) NOT NULL UNIQUE
);

CREATE TABLE distintivo_ambiental (
    distintivo_ambiental_id TINYINT PRIMARY KEY AUTO_INCREMENT,
    nombre_distintivo VARCHAR(13) NOT NULL UNIQUE
);

CREATE TABLE color (
    color_id TINYINT PRIMARY KEY AUTO_INCREMENT,
    nombre_color VARCHAR(9) NOT NULL UNIQUE
);

CREATE TABLE  carroceria (
    carroceria_id TINYINT PRIMARY KEY AUTO_INCREMENT,
    nombre_carroceria VARCHAR(55) NOT NULL UNIQUE
);

CREATE TABLE comunidad_autonoma (
    comunidad_autonoma_id TINYINT PRIMARY KEY AUTO_INCREMENT,
    nombre_comunidad_autonoma VARCHAR(20) NOT NULL UNIQUE
);

INSERT INTO comunidad_autonoma (nombre_comunidad_autonoma) VALUES
    ("Andalucía"),
    ("Aragón"),
    ("Asturias"),
    ("Islas Baleares"),
    ("Canarias"),
    ("Cantabria"),
    ("Castilla y León"),
    ("Castilla-La Mancha"),
    ("Cataluña"),
    ("Comunidad Valenciana"),
    ("Extremadura"),
    ("Galicia"),
    ("Comunidad de Madrid"),
    ("Región de Murcia"),
    ("Navarra"),
    ("País Vasco"),
    ("La Rioja"),
    ("Ceuta"),
    ("Melilla");

CREATE TABLE provincia (
    provincia_id TINYINT PRIMARY KEY AUTO_INCREMENT,
    nombre_provincia VARCHAR(20) NOT NULL UNIQUE,
    comunidad_autonoma_id TINYINT,
    FOREIGN KEY (comunidad_autonoma_id) REFERENCES comunidad_autonoma(comunidad_autonoma_id)
);

INSERT INTO provincia (nombre_provincia, comunidad_autonoma_id) VALUES
    ('Álava', 16),
    ('Albacete', 8),
    ('Alicante', 10),
    ('Almería', 1),
    ('Ávila', 7),
    ('Badajoz', 11),
    ('Islas Baleares', 4),
    ('Barcelona', 9),
    ('Burgos', 7),
    ('Cáceres', 11),
    ('Cádiz', 1),
    ('Castellón', 10),
    ('Ciudad Real', 8),
    ('Córdoba', 1),
    ('La Coruña', 12),
    ('Cuenca', 8),
    ('Girona', 9),
    ('Granada', 1),
    ('Guadalajara', 8),
    ('Guipúzcoa', 16),
    ('Huelva', 1),
    ('Huesca', 2),
    ('Jaén', 1),
    ('León', 7),
    ('Lleida', 9),
    ('La Rioja', 17),
    ('Lugo', 12),
    ('Madrid', 13),
    ('Málaga', 1),
    ('Murcia', 14),
    ('Navarra', 15),
    ('Orense', 12),
    ('Asturias', 3),
    ('Palencia', 7),
    ('Las Palmas', 5),
    ('Pontevedra', 12),
    ('Salamanca', 7),
    ('Tenerife', 5),
    ('Cantabria', 6),
    ('Segovia', 7),
    ('Sevilla', 1),
    ('Soria', 7),
    ('Tarragona', 9),
    ('Teruel', 2),
    ('Toledo', 8),
    ('Valencia', 10),
    ('Valladolid', 7),
    ('Vizcaya', 16),
    ('Zamora', 7),
    ('Zaragoza', 2),
    ('Ceuta', 18),
    ('Melilla', 19);

CREATE TABLE municipio (
    municipio_id SMALLINT PRIMARY KEY AUTO_INCREMENT,
    nombre_municipio VARCHAR(44) UNIQUE
);

CREATE TABLE concesionario (
    concesionario_id SMALLINT PRIMARY KEY AUTO_INCREMENT,
    nombre_concesionario VARCHAR(80),
    calle VARCHAR(100),
    provincia_id TINYINT,
    codigo_postal VARCHAR(5),
    municipio_id SMALLINT,
    FOREIGN KEY (provincia_id) REFERENCES provincia(provincia_id),
    FOREIGN KEY (municipio_id) REFERENCES municipio(municipio_id)
);

CREATE TABLE urls (
    url_id MEDIUMINT PRIMARY KEY AUTO_INCREMENT,
    url VARCHAR(255) NOT NULL UNIQUE
);

CREATE TABLE ruta_imagen (
    ruta_imagen_id MEDIUMINT PRIMARY KEY AUTO_INCREMENT,
    ruta_imagen VARCHAR(255) NOT NULL UNIQUE
);

CREATE TABLE coches_en_venta (
    referencia INT UNSIGNED PRIMARY KEY AUTO_INCREMENT,
    peninsula_baleares TINYINT,
    combustible_id TINYINT,
    potencia SMALLINT,
    cambio_automatico TINYINT,
    carroceria_id TINYINT,
    kilometraje MEDIUMINT,
    distintivo_ambiental_id TINYINT,
    color_id TINYINT,
    garantia TINYINT,
    vendedor_profesional TINYINT,
    plazas TINYINT,
    puertas TINYINT,
    certificado TINYINT,
    fecha_extraccion TIMESTAMP,
    consumo FLOAT(4,2),
    modelo_id MEDIUMINT,
    antiguedad TINYINT,
    precio MEDIUMINT,
    mes_matricula TINYINT,
    anio_matricula SMALLINT,
    concesionario_id SMALLINT,
    url_id MEDIUMINT,
    ruta_imagen_id MEDIUMINT,
    FOREIGN KEY (modelo_id) REFERENCES modelo_titulo(modelo_id),
    FOREIGN KEY (combustible_id) REFERENCES combustible(combustible_id),
    FOREIGN KEY (distintivo_ambiental_id) REFERENCES distintivo_ambiental(distintivo_ambiental_id),
    FOREIGN KEY (color_id) REFERENCES color(color_id),
    FOREIGN KEY (concesionario_id) REFERENCES concesionario(concesionario_id),
    FOREIGN KEY (carroceria_id) REFERENCES carroceria(carroceria_id),
    FOREIGN KEY (url_id) REFERENCES urls(url_id),
    FOREIGN KEY (ruta_imagen_id) REFERENCES ruta_imagen(ruta_imagen_id)
);

CREATE TABLE vendedor_particular (
    vendedor_particular_id MEDIUMINT PRIMARY KEY AUTO_INCREMENT,
    nombre_vendedor_particular VARCHAR(20),
    provincia_id TINYINT,
    referencia INT UNSIGNED,
    FOREIGN KEY (provincia_id) REFERENCES provincia(provincia_id),
    FOREIGN KEY (referencia) REFERENCES coches_en_venta(referencia)
);